name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Kodu çek
        uses: actions/checkout@v4

      - name: Node.js kur
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Bağımlılıkları yükle
        run: npm install

      - name: Prisma client üret
        run: npm run prisma:generate

      - name: Testleri çalıştır
        run: npm test